* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0000;
}

.container {
    position: absolute;  
    top: 20px;           
    left: 45px; 
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.todo-box {
    width: 150px;
    height: 150px;
    background-color: #d3d3d3;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 32px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: #121212;
    font-weight: bold;
}

.larger-text {
    font-size: 44px; 
    font-weight: bold;
}

.plus {
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    color: #121212;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 95px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



form {
    position: absolute;
    top: 240px; /* Ustalona pozycja pola tekstowego */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 130px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
}

form button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
